**unique words in a sentance**

In [11]:
sentance="python is easy and python is powerful"

words=set(sentance.split())
print(f"unique words count: {len(words)}")
print(f"unique words: {words}")

unique words count: 5
unique words: {'python', 'is', 'and', 'powerful', 'easy'}

**highest salary from employee data**

In [5]:
employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}

hi_sal=0
hi_sal_emp=""

for emp_name, sal in employees.items():
    if(sal>hi_sal):
        hi_sal=sal
        hi_sal_emp=emp_name
print(f"highest salary: {hi_sal_emp} - {hi_sal}")

highest salary: Ravi - 75000

**max and min values**

In [10]:
numbers = [45, 22, 89, 10, 66]

max=numbers[0]
min=numbers[0]

for num in numbers:
    if num>max:
        max=num
    if num<min:
        min=num
print(f"list: {numbers}")
print(f"max: {max} \nmin: {min}")

list: [45, 22, 89, 10, 66]
max: 89
min: 10

**count products above a price threshold**

In [14]:
prices = [450, 1200, 899, 1500, 300]

count=0
for price in prices:
    if price>1000:
        count+=1
print(f"products above 1000: {count}")

products above 1000: 2

**attendance percentage**

In [16]:
attendance = ["P", "P", "A", "P", "P"]

count=0
for a in attendance:
    if a=="P":
        count+=1
ttl=len(attendance)
perc=count/ttl*100
print(f"attendance percentage: {perc}")

attendance percentage: 80.0

**remove duplicate phone numbers**

In [18]:
phone_numbers = [9876543210, 9123456789, 9876543210]

uniq_num=set(phone_numbers)
print(f"unique phone numbers: {uniq_num}")

unique phone numbers: {9876543210, 9123456789}

**count char freq**

In [20]:
input_text=input("enter text")

count={}
for char in input_text.lower():
    if char in count:
        count[char]+=1
    else:
        count[char]=1
print(f"character frequency: {count}")

enter text pythonp

character frequency: {'p': 2, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

**list to tuple**

In [21]:
num_list=[10,20,30]

num_tup=tuple(num_list)
print(f"tuple: {num_tup}")

tuple: (10, 20, 30)

**check key in dictionary**

In [23]:
employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}

if "Kiran" in employees:
    print("employee exists")
else:
    print("employee not found")

employee exists

**avg marks**

In [25]:
marks = [45, 22, 89, 10, 66]

ttl=0
for m in marks:
    ttl+=m
marks_count=len(marks)
avg=ttl/marks_count

print(f"average marks: {avg}")

average marks: 46.4